option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: src.wsgi:application  # WSGIファイルのパスを指定

container_commands:
  01_collectstatic:
    command: "python3 src/manage.py collectstatic --noinput --settings=src.config.settings.local"
  02_migrate:
    command: "python3 src/manage.py migrate --settings=src.config.settings.local"
